Repository ballerina-platform/ballerina-message-broker, pull requests merged in 2018-03, with the labels that each got.

#321 Implement Dtx start, end, enqueue, dequeue functionality in broker core
  modules/broker-amqp/src/main/java/io/ballerina/messaging/broker/amqp/codec/AmqpChannel.java
  modules/broker-amqp/src/main/java/io/ballerina/messaging/broker/amqp/codec/frames/DtxEnd.java
  modules/broker-amqp/src/main/java/io/ballerina/messaging/broker/amqp/codec/frames/DtxStart.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/Broker.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/AutoCommitTransaction.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/Branch.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/BranchFactory.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/BrokerTransaction.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/BrokerTransactionFactory.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/DistributedTransaction.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/EnqueueDequeueStrategy.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/LocalTransaction.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/Registry.java
  modules/broker-core/src/test/java/io/ballerina/messaging/broker/core/transaction/DistributedTransactionTest.java
Labels: Module/broker-amqp, Module/broker-core

#337 Implement dtx commit and rollback support in broker core
  modules/broker-amqp/src/main/java/io/ballerina/messaging/broker/amqp/codec/AmqpChannel.java
  modules/broker-amqp/src/main/java/io/ballerina/messaging/broker/amqp/codec/frames/DtxCommit.java
  modules/broker-amqp/src/main/java/io/ballerina/messaging/broker/amqp/codec/frames/DtxPrepare.java
  modules/broker-amqp/src/main/java/io/ballerina/messaging/broker/amqp/codec/frames/DtxRollback.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/Message.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/store/DbMessageStore.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/store/MessageStore.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/store/NullMessageStore.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/store/QueueDetachEventList.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/store/TransactionData.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/store/dao/MessageDao.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/store/dao/impl/DtxCrudOperationsDao.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/store/dao/impl/MessageCrudOperationsDao.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/store/dao/impl/MessageDaoImpl.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/store/dao/impl/RDBMSConstants.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/Branch.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/BrokerTransaction.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/DistributedTransaction.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/LocalTransaction.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/Registry.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/XidImpl.java
  modules/launcher/src/main/resources/dbscripts/h2-mb.sql
  modules/launcher/src/main/resources/dbscripts/mysql-mb.sql
Labels: Module/broker-amqp, Module/broker-core

#344 Merge distributed transactions implementation
  modules/broker-amqp/src/main/java/io/ballerina/messaging/broker/amqp/AmqpDeliverMessage.java
  modules/broker-amqp/src/main/java/io/ballerina/messaging/broker/amqp/codec/AmqpChannel.java
  modules/broker-amqp/src/main/java/io/ballerina/messaging/broker/amqp/codec/InMemoryMessageAggregator.java
  modules/broker-amqp/src/main/java/io/ballerina/messaging/broker/amqp/codec/frames/DtxCommit.java
  modules/broker-amqp/src/main/java/io/ballerina/messaging/broker/amqp/codec/frames/DtxEnd.java
  modules/broker-amqp/src/main/java/io/ballerina/messaging/broker/amqp/codec/frames/DtxPrepare.java
  modules/broker-amqp/src/main/java/io/ballerina/messaging/broker/amqp/codec/frames/DtxRollback.java
  modules/broker-amqp/src/main/java/io/ballerina/messaging/broker/amqp/codec/frames/DtxStart.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/Broker.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/ContentChunk.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/Message.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/Metadata.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/UniqueIdGenerator.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/store/DbMessageStore.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/store/MessageStore.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/store/NullMessageStore.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/store/QueueDetachEventList.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/store/TransactionData.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/store/dao/MessageDao.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/store/dao/impl/DaoFactory.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/store/dao/impl/DtxCrudOperationsDao.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/store/dao/impl/MessageCrudOperationsDao.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/store/dao/impl/MessageDaoImpl.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/store/dao/impl/RDBMSConstants.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/AutoCommitTransaction.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/Branch.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/BranchFactory.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/BrokerTransaction.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/BrokerTransactionFactory.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/DistributedTransaction.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/EnqueueDequeueStrategy.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/LocalTransaction.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/Registry.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/XidImpl.java
  modules/broker-core/src/test/java/io/ballerina/messaging/broker/core/transaction/DistributedTransactionTest.java
  modules/integration/src/test/java/io/ballerina/messaging/broker/integration/standalone/jms/QueueDistributedTransactionTest.java
  modules/integration/src/test/java/io/ballerina/messaging/broker/integration/standalone/jms/TopicDistributedTransactionTest.java
  modules/integration/src/test/java/io/ballerina/messaging/broker/integration/standalone/jms/TopicDtxCommitNegativeTest.java
  modules/integration/src/test/java/io/ballerina/messaging/broker/integration/standalone/rest/BindingsRestApiTest.java
  modules/integration/src/test/java/io/ballerina/messaging/broker/integration/standalone/rest/ConsumersRestApiTest.java
  modules/integration/src/test/java/io/ballerina/messaging/broker/integration/standalone/rest/ExchangesRestApiTest.java
  modules/integration/src/test/java/io/ballerina/messaging/broker/integration/standalone/rest/QueuesRestApiTest.java
  modules/integration/src/test/java/io/ballerina/messaging/broker/integration/util/BrokerRestApiClient.java
  modules/integration/src/test/java/io/ballerina/messaging/broker/integration/util/ClientHelper.java
  modules/launcher/src/main/resources/dbscripts/h2-mb.sql
  modules/launcher/src/main/resources/dbscripts/mysql-mb.sql
Labels: Complexity/Advanced, Module/broker-amqp, Module/broker-core, Priority/Highest, Severity/Blocker

#354 Implement message tracing for transactions
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/BrokerImpl.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/QueueHandler.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/Branch.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/util/MessageTracer.java
Labels: Complexity/Novice, Module/broker-core, Priority/Highest, Severity/Major

#353 Documentation fixes required for alpha
  README.md
  docs/user-doc-index.md
  docs/user/cli-client.md
  docs/user/configure.md
  modules/launcher/src/main/resources/README.md
  modules/launcher/src/main/resources/broker.yaml
Labels: Type/Docs

#348 Implement dtx.forget method handling in broker core
  modules/broker-amqp/src/main/java/io/ballerina/messaging/broker/amqp/codec/AmqpChannel.java
  modules/broker-amqp/src/main/java/io/ballerina/messaging/broker/amqp/codec/frames/DtxForget.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/Branch.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/DistributedTransaction.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/Registry.java
  modules/broker-core/src/test/java/io/ballerina/messaging/broker/core/transaction/DistributedTransactionTest.java
  modules/broker-core/src/test/java/io/ballerina/messaging/broker/core/transaction/DistributedTransactionValidationTest.java
Labels: Module/broker-amqp, Module/broker-core

#349 Implement dtx.timeout support in broker core
  modules/broker-amqp/src/main/java/io/ballerina/messaging/broker/amqp/codec/AmqpChannel.java
  modules/broker-amqp/src/main/java/io/ballerina/messaging/broker/amqp/codec/frames/DtxSetTimeout.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/AutoCommitTransaction.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/Branch.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/BrokerTransaction.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/DistributedTransaction.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/ForwardingBrokerTransaction.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/LocalTransaction.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/Registry.java
  modules/broker-core/src/test/java/io/ballerina/messaging/broker/core/transaction/DistributedTransactionValidationTest.java
  modules/broker-core/src/test/java/io/ballerina/messaging/broker/core/transaction/TransactionTimeoutTest.java
Labels: Module/broker-amqp, Module/broker-core

#370 Implement dtx-branch restore
  modules/broker-amqp/src/main/java/io/ballerina/messaging/broker/amqp/codec/AmqpChannel.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/Broker.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/BrokerImpl.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/Metadata.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/SecureBrokerImpl.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/store/DbMessageStore.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/store/MessageStore.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/store/NullMessageStore.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/store/dao/MessageDao.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/store/dao/impl/DtxCrudOperationsDao.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/store/dao/impl/MessageCrudOperationsDao.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/store/dao/impl/MessageDaoImpl.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/store/dao/impl/RDBMSConstants.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/AutoCommitTransaction.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/Branch.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/BranchFactory.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/BrokerTransaction.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/BrokerTransactionFactory.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/DistributedTransaction.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/DtxStateTransitionException.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/ForwardingBrokerTransaction.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/LocalTransaction.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/Registry.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/UnknownDtxBranchException.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/XidImpl.java
  modules/broker-core/src/test/java/io/ballerina/messaging/broker/core/transaction/DistributedTransactionValidationTest.java
  modules/broker-core/src/test/java/io/ballerina/messaging/broker/core/transaction/TransactionTimeoutTest.java
Labels: Module/broker-core, Priority/Highest, Severity/Critical, Type/Improvement
