Repository ballerina-platform/ballerina-message-broker, pull requests merged in 2018-02, with the labels that each got.

#225 Delete bindings on queue delete
  modules/broker-amqp/src/main/java/org/wso2/broker/amqp/codec/AmqpChannel.java
  modules/broker-amqp/src/main/java/org/wso2/broker/amqp/codec/frames/QueueDeclare.java
  modules/broker-common/src/main/java/org/wso2/broker/common/data/types/LongString.java
  modules/broker-core/src/main/java/org/wso2/broker/core/Binding.java
  modules/broker-core/src/main/java/org/wso2/broker/core/BindingSet.java
  modules/broker-core/src/main/java/org/wso2/broker/core/BindingsRegistry.java
  modules/broker-core/src/main/java/org/wso2/broker/core/Broker.java
  modules/broker-core/src/main/java/org/wso2/broker/core/Exchange.java
  modules/broker-core/src/main/java/org/wso2/broker/core/MessagingEngine.java
  modules/broker-core/src/main/java/org/wso2/broker/core/Queue.java
  modules/broker-core/src/main/java/org/wso2/broker/core/QueueHandler.java
  modules/broker-core/src/main/java/org/wso2/broker/core/QueueHandlerFactory.java
  modules/broker-core/src/main/java/org/wso2/broker/core/QueueRegistry.java
  modules/broker-core/src/main/java/org/wso2/broker/core/TopicExchange.java
  modules/broker-core/src/main/java/org/wso2/broker/core/queue/DbBackedQueueImpl.java
  modules/broker-core/src/main/java/org/wso2/broker/core/queue/MemQueueImpl.java
  modules/broker-core/src/main/java/org/wso2/broker/core/queue/UnmodifiableQueueWrapper.java
  modules/broker-core/src/main/java/org/wso2/broker/core/rest/BindingsApiDelegate.java
  modules/broker-core/src/main/java/org/wso2/broker/core/rest/ConsumersApiDelegate.java
  modules/broker-core/src/main/java/org/wso2/broker/core/rest/ExchangesApiDelegate.java
  modules/broker-core/src/main/java/org/wso2/broker/core/rest/QueuesApiDelegate.java
  modules/broker-core/src/main/java/org/wso2/broker/core/store/dao/BindingDao.java
  modules/broker-core/src/main/java/org/wso2/broker/core/store/dao/QueueDao.java
  modules/broker-core/src/main/java/org/wso2/broker/core/store/dao/impl/QueueDaoImpl.java
  modules/broker-core/src/main/resources/swagger.yaml
  modules/broker-core/src/test/java/org/wso2/broker/core/BindingsRegistryTest.java
  modules/broker-core/src/test/java/org/wso2/broker/core/TopicExchangeTest.java
Labels: Module/broker-amqp, Module/broker-common, Module/broker-core

#258 Add queue spilling mechanism to developer docs
  docs/dev/message-persistence.md
  docs/developer-doc-index.md
  docs/images/queue-buffer-datastructure.png
Labels: Type/Docs

#212 Add message persistence layer architecture doc
  docs/dev/architecture.md
  docs/dev/message-persistence-layer.md
  docs/images/db-operation-optimisation.png
Labels: Type/Docs

#315 Fix transaction memory management issue
  modules/broker-amqp/src/main/java/io/ballerina/messaging/broker/amqp/codec/AmqpChannel.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/Broker.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/Message.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/store/SharedMessageStore.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/store/TransactionData.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/Branch.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/LocalTransaction.java
Labels: Module/broker-amqp, Module/broker-core, Priority/Highest, Severity/Critical, Type/Bug
