Repository ballerina-platform/ballerina-message-broker, pull requests merged in 2018-04, with the labels that each got.

#377 Improve the Jms selector guide
  docs/user/jms-selector-guide.md
Labels: Type/Docs

#373 Fix sonar issues
  modules/broker-amqp/src/main/java/io/ballerina/messaging/broker/amqp/Server.java
  modules/broker-amqp/src/main/java/io/ballerina/messaging/broker/amqp/SslHandlerFactory.java
  modules/broker-amqp/src/main/java/io/ballerina/messaging/broker/amqp/codec/frames/BasicAck.java
  modules/broker-amqp/src/main/java/io/ballerina/messaging/broker/amqp/codec/frames/BasicQos.java
  modules/broker-amqp/src/main/java/io/ballerina/messaging/broker/amqp/codec/frames/BasicQosOk.java
  modules/broker-amqp/src/main/java/io/ballerina/messaging/broker/amqp/codec/frames/BasicRecoveryOk.java
  modules/broker-amqp/src/main/java/io/ballerina/messaging/broker/amqp/codec/frames/ChannelClose.java
  modules/broker-amqp/src/main/java/io/ballerina/messaging/broker/amqp/codec/frames/ChannelCloseOk.java
  modules/broker-amqp/src/main/java/io/ballerina/messaging/broker/amqp/codec/frames/ChannelFlowOk.java
  modules/broker-amqp/src/main/java/io/ballerina/messaging/broker/amqp/codec/frames/ChannelOpenOk.java
  modules/broker-amqp/src/main/java/io/ballerina/messaging/broker/amqp/codec/frames/ConnectionCloseOk.java
  modules/broker-amqp/src/main/java/io/ballerina/messaging/broker/amqp/codec/frames/QueueDeclare.java
  modules/broker-amqp/src/main/java/io/ballerina/messaging/broker/amqp/codec/frames/QueueDeclareOk.java
  modules/broker-amqp/src/main/java/io/ballerina/messaging/broker/amqp/codec/frames/TxCommit.java
  modules/broker-amqp/src/main/java/io/ballerina/messaging/broker/amqp/consumer/AmqpConsumer.java
  modules/broker-auth/src/main/java/io/ballerina/messaging/broker/auth/AuthException.java
  modules/broker-auth/src/main/java/io/ballerina/messaging/broker/auth/authorization/AuthorizationHandler.java
  modules/broker-auth/src/main/java/io/ballerina/messaging/broker/auth/authorization/authorizer/rdbms/DefaultAuthorizer.java
  modules/broker-cli-client/src/main/java/io/ballerina/messaging/broker/client/output/CsvFormatter.java
  modules/broker-cli-client/src/main/java/io/ballerina/messaging/broker/client/output/TableFormatter.java
  modules/broker-cli-client/src/main/java/io/ballerina/messaging/broker/client/resources/Exchange.java
  modules/broker-cli-client/src/main/java/io/ballerina/messaging/broker/client/resources/Queue.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/Consumer.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/task/TaskProcessor.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/BrokerTransactionFactory.java
  modules/launcher/src/main/java/io/ballerina/messaging/broker/Main.java
Labels: Module/broker-amqp, Module/broker-core, Priority/Normal, Severity/Major

#394 Fix memory leaks in ByteBuf
  modules/broker-amqp/src/main/java/io/ballerina/messaging/broker/amqp/codec/AmqpChannel.java
  modules/broker-amqp/src/main/java/io/ballerina/messaging/broker/amqp/consumer/AmqpDeliverMessage.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/Broker.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/BrokerImpl.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/ContentChunk.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/DetachableMessage.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/Message.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/Metadata.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/Queue.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/QueueHandler.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/QueueRegistry.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/SecureBrokerImpl.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/queue/DbBackedQueueImpl.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/queue/MemQueueImpl.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/queue/QueueBuffer.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/queue/UnmodifiableQueueWrapper.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/store/DbMessageStore.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/store/DbOperation.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/store/MessageStore.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/store/NullMessageStore.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/store/TransactionData.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/AutoCommitTransaction.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/Branch.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/BranchFactory.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/BrokerTransaction.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/DistributedTransaction.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/EnqueueDequeueStrategy.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/ForwardingBrokerTransaction.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/transaction/LocalTransaction.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/util/MessageTracer.java
  modules/broker-core/src/test/java/io/ballerina/messaging/broker/core/queue/QueueBufferTest.java
  modules/integration/src/test/java/io/ballerina/messaging/broker/integration/standalone/DefaultSuiteInitializer.java
  modules/integration/src/test/java/io/ballerina/messaging/broker/integration/standalone/InMemorySuiteInitializer.java
  modules/integration/src/test/resources/log4j.properties
Labels: Module/broker-amqp, Module/broker-core, Priority/High, Type/Bug

#404 Add deliveryBatch size configuration to broker.yaml
  docs/user/configure.md
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/BrokerImpl.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/MessageDeliveryTask.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/MessageDeliveryTaskFactory.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/QueueHandler.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/configuration/BrokerCoreConfiguration.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/task/TaskExecutorService.java
  modules/launcher/src/main/resources/broker.yaml
Labels: Module/broker-core

#406 Rename getQueue method in QueueHandler
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/BindingsRegistry.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/BrokerImpl.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/MessageDeliveryTask.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/QueueHandler.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/QueueRegistry.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/rest/QueuesApiDelegate.java
  modules/broker-core/src/main/java/io/ballerina/messaging/broker/core/util/MessageTracer.java
  modules/broker-core/src/test/java/io/ballerina/messaging/broker/core/BindingsRegistryTest.java
  modules/broker-core/src/test/java/io/ballerina/messaging/broker/core/TopicExchangeTest.java
Labels: Module/broker-core

#415 Update queue and exchange delete default behavior
  docs/user/cli-client.md
  modules/broker-cli-client/src/main/java/io/ballerina/messaging/broker/client/cmd/impl/delete/DeleteExchangeCmd.java
  modules/broker-cli-client/src/main/java/io/ballerina/messaging/broker/client/cmd/impl/delete/DeleteQueueCmd.java
  modules/integration/src/test/java/io/ballerina/messaging/broker/integration/standalone/jms/DurableTopicMessagesOrderTest.java
Labels: Module/cli-client
